* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

p,
button {
    background-color: #f00;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

button {
    margin-top: 50px;
    border: none;
}